/* General */
.mintDialog {
	position: relative;
	height: 250px;
	width: 270px;
	min-width: 270px;
	margin-bottom: 200px;
}
.mintDialog.sm {
	margin-bottom: 100px;
}
.mintDialog div.view {
	position: relative;
	width: 100%;
	height: 100%;
}
.mintDialog div.infoText {
	text-align: center;
	margin: 10px;
}
.mintDialog div.actionButtons {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: right;
}

/* Header */
.mintDialog div.dialogCloseButton {
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/img/icon_close.svg");
	background-size: contain;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.mintDialog div.dialogCloseButton:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.mintDialog div.dialogTitle {
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 8px;
	font-size: 22px;
}
.mintDialog div.uncoverIcon {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 32px;
	height: 32px;
	background-image: url("/img/icon_scan.svg");
	background-size: contain;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.mintDialog .md-errors-spacer {
	max-height: 0px;
	min-height: 0px;
}
.mintDialog div.termsNote {
	display: inline-block;
	text-align: center;
	padding: 0px 40px 0px 40px;
}

/* Error View */
.mintDialog div.errorTitle {
	margin-top: 100px;
}

/* No Account Send View */
.mintDialog div.noAccountTitle {
	margin-top: 85px;
}

/* Loading View */
.mintDialog div.loadingIcon {
	margin: 0 auto;
	width: 80px;
	padding-top: 80px;
}
.mintDialog .checkingSend {
	position: absolute;
	top: calc(50% - 7px);
	left: calc(50% - 7px);
}
.mintDialog md-progress-circular.checkingSend svg path {
	stroke: #333333;
}

/* Send Invader View */
.mintDialog div.sendInvaderTitle {
	margin-top: 80px;
}
.mintDialog .addressInput {
	width: 220px;
	margin-left: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.mintDialog .addressInput input {
	text-align: center;
}
.mintDialog div.note {
	position: absolute;
	left: 15px;
	bottom: 10px;
	font-size: 14px;
}

/* Send Eth View */
.mintDialog div.sendEthDialogTitle {
	width: 100%;
	margin: 8px 0px;
}
.mintDialog div.sendEthTitle {
	margin-top: 90px;
}
.mintDialog div.addressFont {
	font-size: 18px;
	text-align: center;
}
.mintDialog .amountInput {
	width: 120px;
	margin-left: 73px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.mintDialog .amountInput input {
	text-align: center;
}
