/* General */
accounticon {
	display: block;
}
accounticon .accountIconDirectiveContainer {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	border: solid #f2f2f2;
	box-sizing: border-box;
}
