/* General */
div.pixelconDetailsPage {
	width: 100%;
}
div.pixelconDetailsPage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconDetailsPage.sm div.topSpacer {
	height: 10px;
}
div.pixelconDetailsPage div.bottomSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconDetailsPage .detailsLoadingSpinner {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -80px -40px;
}

/* Details Card Container */
div.pixelconDetailsPage div.detailsCard {
	position: relative;
	width: 320px;
	margin: 0 auto;
	font-size: 0px;
}
div.pixelconDetailsPage div.detailsCard {
	width: 300px;
}
div.pixelconDetailsPage div.detailsCard .invaderImage {
	width: 280px;
	height: 260px;
	object-fit: contain;
	margin: 20px;
}
div.pixelconDetailsPage.sm div.detailsCard .invaderImage {
	width: 260px;
	height: 220px;
}
div.pixelconDetailsPage div.detailsCard div.backButton {
	position: absolute;
	top: 0px;
	left: -60px;
	width: 30px;
	height: 30px;
	background-size: 30px;
	background-image: url("/img/icon_explore_w.svg");
	cursor: pointer;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
div.pixelconDetailsPage div.detailsCard div.backButton:hover {
	background-image: url("/img/icon_backward_w.svg");
	opacity: 0.9;
	filter: alpha(opacity=90);
}
div.pixelconDetailsPage div.detailContainer {
	position: relative;
	background-color: #80808093;
	width: 320px;
	height: 230px;
	padding: 5px;
	box-sizing: border-box;
}
div.pixelconDetailsPage.sm div.detailContainer {
	width: 300px;
}
div.pixelconDetailsPage div.detailContainer div.detail {
	cursor: pointer;
	width: 100%;
	padding: 5px 5px;
	box-sizing: border-box;
}
div.pixelconDetailsPage div.detailContainer div.subDetail {
	width: 100%;
	box-sizing: border-box;
}
div.pixelconDetailsPage div.detailContainer div.detail div.color {
	display: inline-block;
	vertical-align: top;
	width: 3px;
	height: 21px;
	margin-right: 3px;
	margin-top: -1px;
	border: solid 1px #909090;
}
div.pixelconDetailsPage div.detailContainer div.detail span.offset {
	margin-left: 9px;
}
div.pixelconDetailsPage div.detailContainer div.detail div.percentage {
	position: relative;
	display: inline-block;
	margin-left: 2px;
}
div.pixelconDetailsPage div.detailContainer div.detail div.percentage.shared {
	height: 30px;
	margin-top: -10px;
	vertical-align: bottom;
}
div.pixelconDetailsPage div.detailContainer div.detail div.percentage {
	position: relative;
	overflow: visible;
	display: inline-block;
	margin-left: 2px;
}
div.pixelconDetailsPage div.detailContainer div.detail div.percentage div.hint {
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	background-image: url(/img/icon_hint_w.svg);
	background-size: 16px;
	top: -5px;
	right: -18px;
}
div.pixelconDetailsPage div.detailContainer div.detail:hover div.percentage div.hint {
	display: block;
}
div.pixelconDetailsPage div.detailContainer div.ownerDetail {
	position: absolute;
	left: 10px;
	bottom: 10px;
}
div.pixelconDetailsPage div.detailContainer .ownerIcon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 2px;
}

/* Buttons */
div.pixelconDetailsPage div.detailContainer div.buttonsContainer {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 36px;
	height: 200px;
	padding: 5px 5px 5px 15px;
}
div.pixelconDetailsPage div.detailContainer .more {
	background-image: url("/img/icon_more_w.svg");
}
div.pixelconDetailsPage div.detailContainer .share {
	background-image: url("/img/icon_share_w.svg");
}
div.pixelconDetailsPage div.detailContainer .buy {
	background-image: url("/img/icon_tag_w.svg");
}
div.pixelconDetailsPage div.detailContainer .iconButton {
	opacity: 0.9;
	filter: alpha(opacity=90);
	margin: 0px;
}

/* Error */
div.pixelconDetailsPage div.error {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -100px -153px;
	width: 276px;
	min-height: 42px;
	max-height: 100px;
	padding: 15px;
	background-color: #80808093;
}
