<div class="pixelconDetailsPage" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<!-- Loading -->
	<md-progress-circular ng-if="ctrl.detailsLoading" class="detailsLoadingSpinner" md-diameter="80px" md-mode="indeterminate"></md-progress-circular>
	
	<!-- Error -->
	<div class="error textDark textSelectable" ng-if="ctrl.error" ng-bind-html="ctrl.error"></div>
		
	<!-- Details -->	
	<div class="detailsCard" ng-if="ctrl.invader">
		<div class="backButton" ng-click="ctrl.goBack()"></div>
		<img class="invaderImage crispImage" ng-src="{{ctrl.invader.image}}"/>
		<div class="detailContainer textSelectable">
		
			<!-- Buttons -->
			<div class="buttonsContainer">
				<md-menu md-position-mode="target-right target">
					<md-button class="iconButton more" ng-click="$mdOpenMenu()" aria-label="More"></md-button>
					<md-menu-content class="shareLinksContextMenu">
						<md-menu-item ng-show="ctrl.isOwner">
							<md-button ng-click=""><div class="shareLinkIcon send textBlack"></div>Send To</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click=""><div class="shareLinkIcon wallpaper textBlack"></div>Create Wallpaper</md-button>
						</md-menu-item>
						<md-menu-item>
							<a ng-href="{{ctrl.viewOnPixelcons()}}" target="_blank" class="textBlack">
								<md-button><div class="shareLinkIcon pixelcons textBlack"></div>View on PixelCons</md-button>
							</a>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<md-menu md-position-mode="target-right target">
					<md-button class="iconButton share" ng-click="$mdOpenMenu()" aria-label="Share">
					</md-button>
					<md-menu-content class="shareLinksContextMenu">
						<md-menu-item>
							<md-button ng-click="ctrl.copyLink()"><div class="shareLinkIcon url textBlack"></div>Copy URL</md-button>
						</md-menu-item>
						<md-menu-item>
							<a ng-href="{{ctrl.shareOnFacebook()}}" target="_blank" class="textBlack">
								<md-button><div class="shareLinkIcon facebook"></div>Share on Facebook</md-button>
							</a>
						</md-menu-item>
						<md-menu-item>
							<a ng-href="{{ctrl.shareOnTwitter()}}" target="_blank" class="textBlack">
								<md-button><div class="shareLinkIcon twitter"></div>Share on Twitter</md-button>
							</a>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<md-button class="iconButton buy" aria-label="Buy/Sell" ng-if="ctrl.marketEnabled">
					<a class="plain buttonLink" ng-href="{{ctrl.marketLink}}" target="_blank"></a>
				</md-button>
			</div>
		
			<!-- Data -->
			<div class="title textDark textExLarge textBold">{{'Invader ' + ctrl.invader.number}}</div>
			<div class="detail">
				<div class="color" ng-style="{'background-color':ctrl.invader.typeColor}"></div>
				<span class="textDark textLarge">{{ctrl.invader.type}}</span>
				<div class="percentage textDark textSmall">{{(ctrl.invader.typeRarity < 0.01) ? '(<0.01%)' : '(' + ctrl.invader.typeRarity + '%)'}}</div>
			</div>
			<div class="detail">
				<span class="textDark textLarge offset">{{'Level ' + (ctrl.invader.level > 0 ? ctrl.invader.level : 'Uknown')}}</span>
				<div class="percentage textDark textSmall">{{(ctrl.invader.levelRarity < 0.01) ? '(<0.01%)' : '(' + ctrl.invader.levelRarity + '%)'}}</div>
			</div>
			<div class="detail">
				<div class="subDetail">
					<div class="color" ng-style="{'background-color':ctrl.invader.skillColor}"></div>
					<span class="textDark textLarge">{{ctrl.invader.skill}}</span>
				</div>
				<div class="subDetail">
					<div class="color" ng-style="{'background-color':ctrl.invader.rangeColor}"></div>
					<span class="textDark textLarge">{{ctrl.invader.range}}</span>
					<div class="percentage shared textDark textSmall">{{(ctrl.invader.skillRangeRarity < 0.01) ? '(<0.01%)' : '(' + ctrl.invader.skillRangeRarity + '%)'}}</div>
				</div>
			</div>
			<div class="ownerDetail">
				<span class="textDark textSmall textBold">Owned By</span>
				<accounticon class="ownerIcon" address="ctrl.invader.owner" border="1"></accounticon></br>
				<span class="textDark textExSmall">{{ctrl.invader.owner}}</span>
			</div>
		</div>
	</div>
	
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
