div.header {
	position: relative;
	width: 100%;
	height: 80px;
	z-index: 5;
}
div.header.sm {
	height: 60px;
}

/* Title/Icon */
div.header .pixelconTitle {
	position: absolute;
	top: 7px;
	left: 10px;
	height: 65px;
}
div.header.sm .pixelconTitle {
	height: 50px;
	left: 5px;
	top: 5px;
}
div.header .pixelconTitle .pixelconLogo {
	position: relative;
	display: inline-block;
	height: 65px;
	width: 65px;
	min-width: 65px;
	margin: 0px 15px 0px 15px;
	background-image: url("/img/logo_header.png");
	background-size: contain;
	background-repeat: no-repeat;
}
div.header.sm .pixelconTitle .pixelconLogo {
	height: 50px;
	width: 50px;
	min-width: 50px;
	margin: 0px 0px 0px 12px;
}
div.header .pixelconTitle .pixelconLogoText {
	text-shadow: 0px 0px 30px #989898;
	position: absolute;
	left: -2px;
    top: 18px;
}
div.header.sm .pixelconTitle .pixelconLogoText {
	text-shadow: 0px 0px 15px #a7a7a7;
	font-size: 14px;
	left: -5px;
	top: 12px;
}
div.header .pixelconTitle .pixelconLogoSubText {
	text-shadow: 0px 0px 30px #989898;
	position: absolute;
	left: 3px;
	top: 30px;
	font-size: 14px;
}
div.header.sm .pixelconTitle .pixelconLogoSubText {
	text-shadow: 0px 0px 15px #a7a7a7;
	left: 0px;
	top: 23px;
	font-size: 12px;
}

/* Menu Buttons */
div.header .menuButtons {
	position: absolute;
	right: 65px;
	top: 16px;
}
div.header.md .menuButtons {
	right: 75px;
}
div.header.sm .menuButtons {
	top: 12px;
	right: 60px;
}
div.header .menuButtons button.start {
	margin-right: -50px;
}
div.header.sm .menuButtons button.start {
	margin-top: 0px;
	height: 0px;
}
div.header .menuButtons button.nav.highlight {
	margin-bottom: 3px;
	border-bottom: 3px solid #5591c1;
	border-radius: 0px;
}
div.header.md .menuButtons button.nav {
	margin-left: 2px;
	margin-right: 1px;
	min-width: 0px;
	height: 0px;
	min-height: 33px;
}
div.header.sm .menuButtons button.nav {
	margin-left: 3px;
	margin-right: 3px;
	min-width: 0px;
	height: 0px;
	padding-left: 5px;
	padding-right: 5px;
	min-height: 33px;
}
div.header.md .menuButtons button.nav .buttonIcon,
div.header.sm .menuButtons button.nav .buttonIcon {
	margin-top: 4px;
}
div.header .menuButtons button.menuButton {
	margin-right: -5px;
}
div.header .menuButtons md-menu {
	display: none;
}
div.header.sm .menuButtons md-menu {
	display: inline;
}
div.header button.quickButton {
	min-width: 0px;
}
div.header .marketButton {
	position: absolute;
	top: 15px;
	left: 125px;
}
div.header.md .marketButton {
	left: 104px;
}
div.header.sm .marketButton {
	top: 9px;
	left: 80px;
}
div.header a.marketButton button.md-raised:hover {
	background-color: #dddddd;
}
div.header.sm .marketButton button {
	min-width: 0px;
	font-size: 12px;
	font-weight: 600;
	height: 0px;
	padding-left: 4px;
	padding-right: 4px;
	min-height: 33px;
}
div.header.sm .marketButton .buttonIcon {
	margin-top: 5px;
}

/* User Icon */
div.header .accountIcon {
	position: absolute;
	padding: 4px;
	border-radius: 6px;
	right: 10px;
	top: 10px;
	width: 48px;
	height: 48px;
}
div.header.sm .accountIcon {
	width: 38px;
	height: 38px;
	top: 6px;
}
div.header .connectButton {
	background: #a2a2a2;
}
div.header .connectButton:hover {
	background: #777777;
}
div.header .connectButton img {
	position: absolute;
	top: 0px;
	right: 0px;
}
div.header .connectButton div {
	position: absolute;
	top: 12px;
	left: 4px;
	font-size: 12px;
	color: #f1f1f1;
}
div.header.sm .connectButton div {
    font-size: 10px;
}
div.header .iconFill {
	position: relative;
	width: 100%;
	height: 100%;
}
div.header .iconFillOverlay {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 22px;
	padding: 2px;
	border-radius: 14px;
	background-color: rgba(216, 216, 216, 0.52);
}

/* Menu Dropdown and Tooltip */
md-menu-content.headerDropdown {
	display: inline-block;
	min-width: 300px;
	max-height: 500px;
}
md-menu-content.headerDropdown md-divider {
	margin: 5px;
}
div.headerDropdownTextTop {
	display: inline-block;
	vertical-align: middle;
	margin: 5px 10px;
	font-size: 0px;
}
div.headerDropdownText {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}
div.headerDropdownTextItem {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0px;
}
div.headerDropdownRow {
	padding: 0px 10px;
}
button.headerDropdownButton {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin: 0px;
	min-width: 0px;
	padding: 0px 10px;
    margin: 0px 5px;
}
button.headerDropdownButton .networkBadge {
	background-color: #b4b4b4;
	background-image: url(/img/network_unknown.png);
	width: 16px;
	height: 16px;
	vertical-align: text-top;
	background-size: cover;
	border-radius: 3px;
	display: none;
}
div.headerDropdownButtonLink {
	display: inline-block;
	vertical-align: middle;
	background-image: url("/img/icon_goto.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
	padding: 0px;
	margin: 0px 0px 25px -10px;
	min-width: 0px;
	min-height: 0px;
	width: 20px;
	height: 20px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
div.headerDropdownIcon {
	display: inline-block;
	vertical-align: middle;
	width: 27px;
	height: 27px;
	margin-right: 3px;
	font-size: 0px;
}
accounticon.headerDropdownAccountIcon {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 36px;
	vertical-align: top;
}
div.header .tooltip {
	position: absolute;
	right: -7px;
	bottom: -30px;

	border-radius: 4px;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	padding-right: 16px;
	padding-left: 16px;

	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(97, 97, 97);

	transform-origin: center right;
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 0.9;
	filter: alpha(opacity=90);
}
div.header .tooltip.hidden {
	transform: scale(0);
	opacity: 0;
	filter: alpha(opacity=0);
}
div.header.sm .tooltip {
	bottom: -26px;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	padding-right: 10px;
	padding-left: 10px;
}
