/* General */
div.pixelconSearchPage {
	width: 100%;
}
div.pixelconSearchPage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.pixelconSearchPage.sm div.topSpacer {
	height: 10px;
}
div.pixelconSearchPage div.bottomSpacer {
	width: 100%;
	height: 30px;
}
div.pixelconSearchPage.sm div.bottomSpacer {
	height: 20px;
}

/* Top Filter */
div.pixelconSearchPage div.topFilter {
	width: calc(100% - 60px);
	max-width: 1280px;
	margin: 0 auto;
	font-size: 0px;
	padding: 0px 5px;
	background-color: #80808093;
}
div.pixelconSearchPage.sm div.topFilter {
	width: calc(100% - 24px);
}
div.pixelconSearchPage md-select {
	display: inline-block;
	vertical-align: middle;
	margin: 7px 0px;
	margin-right: 10px;
	font-size: 14px;
	color: #f2f2f2;
}
div.pixelconSearchPage md-select:focus div.md-text {
	color: #f2f2f2;
}
div.pixelconSearchPage md-select div.md-text {
	margin-left: 30px;
}
div.pixelconSearchPage md-select .md-select-icon {
	background-image: url(/img/icon_sort_w.svg);
    width: 20px;
    height: 20px;
    color: #00000000;
	position: absolute;
}
div.pixelconSearchPage button.topFilterButton {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 0px;
    height: 0px;
    padding: 0px 4px;
    min-height: 33px;
}
div.pixelconSearchPage button.filterButton {
	text-transform: none;
}
div.pixelconSearchPage accounticon.accountTitleIcon {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	margin-top: -4px;
}
div.pixelconSearchPage .right {
	float: right;
}
div.pixelconSearchPage button.topFilterButton .buttonIcon {
	margin-top: 4px;
}
div.pixelconSearchPage .buttonIcon.filter {
	background-image: url(/img/icon_filter_w.svg);
}
div.pixelconSearchPage .buttonIcon.share {
	background-image: url(/img/icon_share_w.svg);
}
div.pixelconSearchPage .buttonIcon.small {
	background-image: url(/img/icon_small_w.svg);
}
div.pixelconSearchPage .buttonIcon.large {
	background-image: url(/img/icon_large_w.svg);
}
div.pixelconSearchPage div.topFilter .moreFilter {
	max-height: 0px;
	padding: 0px 0px;
	overflow: hidden;
	transition: max-height cubic-bezier(0.35, 0, 0.25, 1) 0.1s, padding cubic-bezier(0.35, 0, 0.25, 1) 0.1s;
}
div.pixelconSearchPage div.topFilter.expanded .moreFilter {
	max-height: 300px;
	padding: 5px 0px;
}

/* Selects */
div.pixelconSearchPage div.levelSelect {
	display: inline-block;
	margin: 10px;
	width: 155px;
}
div.pixelconSearchPage input.levelInput {
	background-color: unset;
	border: none;
	border-bottom: 1px solid #f2f2f2;
	color: #f2f2f2;
	width: 40px;
}
div.pixelconSearchPage div.ownerSelect {
	position: relative;
	display: inline-block;
	margin: 10px;
	width: 310px;
}
div.pixelconSearchPage input.ownerInput {
	background-color: unset;
	border: none;
	border-bottom: 1px solid #f2f2f2;
	color: #f2f2f2;
	width: 225px;
}
div.pixelconSearchPage accounticon.ownerIcon {
	position: absolute;
	top: 0px;
	right: 5px;
	width: 20px;
	height: 20px;
}
div.pixelconSearchPage md-progress-circular.ownerLoading {
	position: absolute;
	top: 0px;
	right: 5px;
}
div.pixelconSearchPage md-progress-circular.filterAddressLoading {
	display: inline-block;
}
div.pixelconSearchPage md-progress-circular svg path {
	stroke: #f2f2f2;
}
div.pixelconSearchPage div.ownerUnknown {
	position: absolute;
	top: 0px;
	right: 5px;
	width: 20px;
	height: 20px;
}

/* Checkbox */
div.pixelconSearchPage md-checkbox.colorCheckbox {
	color: #a2a2a2;
	margin: 10px;
}
div.pixelconSearchPage md-checkbox.colorCheckbox div.md-icon {
	border-color: #f2f2f2;
}
div.pixelconSearchPage md-checkbox.colorCheckbox .md-label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked div.md-icon {
	border-color: #f2f2f2;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked {
	color: #f2f2f2;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.water div.md-icon {
    background-color: #29ADFF;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked.water div.md-icon {
    background-color: #29ADFFD1;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.forest div.md-icon {
    background-color: #00E756;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked.forest div.md-icon {
    background-color: #00E756D1;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.fire div.md-icon {
    background-color: #FF004D;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked.fire div.md-icon {
    background-color: #FF004DD1;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.desert div.md-icon {
    background-color: #FFA300;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked.desert div.md-icon {
    background-color: #FFA300D1;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.electric div.md-icon {
    background-color: #FFFF27;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked.electric div.md-icon {
    background-color: #FFFF27D1;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.metal div.md-icon {
    background-color: #FFF1E8;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked.metal div.md-icon {
    background-color: #FFF1E8D1;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.defence div.md-icon {
    background-color: #C2C3C3;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked.defence div.md-icon {
    background-color: #C2C3C3D1;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.attack div.md-icon {
    background-color: #83769C;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked.attack div.md-icon {
    background-color: #83769CD1;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.longRange div.md-icon {
    background-color: #5F574F;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked.longRange div.md-icon {
    background-color: #5F574FD1;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.shortRange div.md-icon {
    background-color: #1D2B53;
}
div.pixelconSearchPage md-checkbox.colorCheckbox.md-checked.shortRange div.md-icon {
    background-color: #1D2B53D1;
}



































/* Search Card Container */
div.pixelconSearchPage div.accountCard {
	width: calc(100% - 60px);
	max-width: 1280px;
	border-radius: 15px;
	margin: 0 auto;
}
div.pixelconSearchPage.sm div.accountCard {
	width: calc(100% - 16px);
}
div.pixelconSearchPage div.searchFilter {
	position: relative;
	height: 95px;
	width: 100%;
}
div.pixelconSearchPage.sm div.searchFilter {
	height: 85px;
}

/* Search Card Container: Search Bar Header */
div.pixelconSearchPage div.searchFilter div.searchBar {
	position: absolute;
	top: 15px;
	left: 10px;
	width: calc(100% - 20px);
}
div.pixelconSearchPage.sm div.searchFilter div.searchBar {
	top: 10px;
	left: 5px;
	width: calc(100% - 10px);
}
div.pixelconSearchPage div.searchFilter div.searchBar md-input-container {
	margin: 0px;
	height: 32px;
}
div.pixelconSearchPage div.searchFilter div.searchBar input {
	padding-left: 30px;
	padding-bottom: 10px;
	padding-right: 150px;
}
div.pixelconSearchPage.sm div.searchFilter div.searchBar input {
	padding-right: 65px;
}
div.pixelconSearchPage div.searchFilter div.searchBar input:focus {
	padding-bottom: 9px;
}
div.pixelconSearchPage div.searchFilter div.searchBar div.searchIcon {
	position: absolute;
	top: 1px;
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-image: url("/img/icon_search.svg");
}
div.pixelconSearchPage div.searchFilter div.searchBar div.searchCount {
	position: absolute;
	right: 4px;
	top: 4px;
}

/* Search Card Container: Options */
div.pixelconSearchPage div.searchFilter div.options {
	position: absolute;
	display: inline-block;
	bottom: 7px;
	left: 10px;
	line-height: 33px;
}
div.pixelconSearchPage.sm div.searchFilter div.options {
	bottom: 6px;
	left: 10px;
}
div.pixelconSearchPage div.searchFilter div.options md-checkbox {
	margin-bottom: 0px;
}

/* Search Card Container: Sorting */
div.pixelconSearchPage div.searchFilter div.sorting {
	position: absolute;
	display: inline-block;
	bottom: 0px;
	right: 5px;
	text-align: right;
}
div.pixelconSearchPage.sm div.searchFilter div.sorting {
	right: 0px;
	bottom: -2px;
}
div.pixelconSearchPage div.searchFilter div.sorting .sortBy {
	display: inline-block;
	margin: 0px;
}
div.pixelconSearchPage.sm div.searchFilter div.sorting .sortBy .md-select-icon {
	width: 5px;
}
div.pixelconSearchPage .sortDesc {
	background-image: url("/img/icon_down.svg");
}
div.pixelconSearchPage .sortAsc {
	background-image: url("/img/icon_up.svg");
}

/* Search Card Container: Pixelcon Window */
div.pixelconSearchPage div.displayWindow {
	position: relative;
	width: 100%;
	border-radius: 15px;
	min-height: 200px;
}
div.pixelconSearchPage div.error {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -50px -153px;
	width: 276px;
	min-height: 42px;
	max-height: 100px;
	padding: 15px;
	border-radius: 15px;
}
div.pixelconSearchPage div.loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px -50px;
	width: 80px;
	height: 80px;
	padding: 10px;
	border-radius: 15px;
}
div.pixelconSearchPage div.displayTable {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 20px;
	font-size: 0px;
}
div.pixelconSearchPage.md div.displayTable {
	padding: 15px;
}
div.pixelconSearchPage.sm div.displayTable {
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
div.pixelconSearchPage .pixelconCard {
	display: inline-block;
	margin: 12px;
	margin-bottom: 20px;
}
div.pixelconSearchPage.md .pixelconCard {
	margin: 9px;
	margin-bottom: 18px;
}
div.pixelconSearchPage.sm .pixelconCard {
	margin: 6px;
	margin-bottom: 16px;
}

/* Search Card Container: Paging */
div.pixelconSearchPage div.searchPaging {
	position: relative;
	height: 50px;
	width: 100%;
}
div.pixelconSearchPage div.searchPaging div.pagingText {
	position: absolute;
	text-align: center;
	top: 15px;
	right: 10px;
}
div.pixelconSearchPage div.searchPaging button.pageButton {
	min-width: 36px;
	margin-left: 3px;
	margin-right: 3px;
}
div.pixelconSearchPage.sm div.searchPaging button.pageButton {
	min-width: 32px;
	max-height: 32px;
	min-height: 32px;
	line-height: 32px;
	margin-left: 3px;
	margin-right: 3px;
}
div.pixelconSearchPage div.searchPaging button.pageButton.previous {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/img/icon_back.svg");
	background-size: 24px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
div.pixelconSearchPage div.searchPaging button.pageButton.next {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/img/icon_forward.svg");
	background-size: 24px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
div.pixelconSearchPage div.searchPaging button.pageButton[disabled] {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
