<div class="pixelconSearchPage" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<div class="topFilter" ng-class="{'expanded': ctrl.filterOpen}">
	
		<md-button class="topFilterButton" ng-click="ctrl.filterOpen = !ctrl.filterOpen">
			<div class="buttonIcon filter"></div>
		</md-button>
		<md-button class="topFilterButton" ng-click="">
			<div class="buttonIcon share"></div>
		</md-button>
		
		
		
		
		
		
		<md-button class="topFilterButton right" ng-click="">
			<div class="buttonIcon large"></div>
		</md-button>
		<md-button class="topFilterButton right" ng-click="">
			<div class="buttonIcon small"></div>
		</md-button>
		<md-select class="md-no-underline right" ng-model="ctrl.sortBy">
			<md-option value="createdDesc">Uncovered Desc</md-option>
			<md-option value="createdAsc">Uncovered Asc</md-option>
		</md-select>
		
		
		
		
		<div class="moreFilter">
		
			<div class="levelSelect textDark textMedium">
				<span>Level</span>
				<input class="levelInput" type="number" step="any" name="levelMin" ng-model="ctrl.levelMin" min="0" max="30"/>
				<span>to</span>
				<input class="levelInput" type="number" step="any" name="levelMax" ng-model="ctrl.levelMax" min="0" max="30"/>
			</div>
			<div class="ownerSelect textDark textMedium">
				<span>Owner</span>
				<input class="ownerInput" maxlength="25" name="owner" ng-model="ctrl.owner"/>
			</div>
		
			<br/>
			<md-checkbox class="colorCheckbox water textDark textMedium" ng-model="ctrl.typeWater">Water</md-checkbox>
			<md-checkbox class="colorCheckbox forest textDark textMedium" ng-model="ctrl.typeForest">Forest</md-checkbox>
			<md-checkbox class="colorCheckbox fire textDark textMedium" ng-model="ctrl.typeFire">Fire</md-checkbox>
			<md-checkbox class="colorCheckbox desert textDark textMedium" ng-model="ctrl.typeDesert">Desert</md-checkbox>
			<md-checkbox class="colorCheckbox electric textDark textMedium" ng-model="ctrl.typeElectric">Electric</md-checkbox>
			<md-checkbox class="colorCheckbox metal textDark textMedium" ng-model="ctrl.typeMetal">Metal</md-checkbox>
			
			<br/>
			<md-checkbox class="colorCheckbox defence textDark textMedium" ng-model="ctrl.attrDefence">Defence</md-checkbox>
			<md-checkbox class="colorCheckbox attack textDark textMedium" ng-model="ctrl.attrAttack">Attack</md-checkbox>
			
			<br/>
			<md-checkbox class="colorCheckbox longRange textDark textMedium" ng-model="ctrl.attrLongRange">Long Range</md-checkbox>
			<md-checkbox class="colorCheckbox shortRange textDark textMedium" ng-model="ctrl.attrShortRange">Short Range</md-checkbox>
		
			
		</div>
			
	</div>
	
	<!--
	<div class="accountCard colorLight">
		
		<!-- Header --
		<div class="searchFilter">
			<div class="searchBar">
				<form ng-submit="ctrl.checkUpdateData()">
					<md-input-container md-no-float class="md-block">
						<div class="searchIcon"></div>
						<input ng-model="ctrl.filter.searchText" ng-disabled="ctrl.error || ctrl.grabbingData" ng-change="" placeholder="Search"/>
					</md-input-container>
					<div class="searchCount textLight"><b>{{ctrl.totalFound}}</b> {{ctrl.screenSize.sm?'':(ctrl.totalFound==1?'PixelCon':'PixelCons')}}</div>
				</form>
			</div>
			<div class="options" layout="row">
			</div>
			<div class="sorting">
				<md-select class="sortBy md-no-underline" ng-disabled="ctrl.error || ctrl.grabbingData || ctrl.disableFilters" ng-model="ctrl.filter.sortBy" ng-change="ctrl.checkUpdateData()" placeholder="Sort By">
					<md-option value="dateCreated">Date Created</md-option>
				</md-select>
				<md-button class="iconButton" ng-class="{'sortDesc': ctrl.filter.sortDesc, 'sortAsc': !ctrl.filter.sortDesc}" ng-disabled="ctrl.error || ctrl.grabbingData || ctrl.disableFilters"
						ng-click="ctrl.setSortOrder(!ctrl.filter.sortDesc)" aria-label="Sort Order"></md-button>
			</div>
		</div>
		
		
		<!-- Viewer window --
		<div id="searchPagePixelconWindow" class="displayWindow colorDark"  ng-style="{'min-height': ctrl.displayHeight}">
		
			<!-- Error --
			<div class="error colorLight textSelectable" ng-show="ctrl.error" ng-bind-html="ctrl.error"></div>
		
			<!-- Empty --
			<div class="error colorLight textSelectable" ng-show="!ctrl.error && !ctrl.loading && !ctrl.grabbingData && ctrl.pixelcons.length==0">
				No PixelCons
			</div>
		
			<!-- Loading --
			<div class="loading colorLight" ng-show="ctrl.loading || ctrl.grabbingData">
				<img class="crispImage" src="img/loading.gif" alt="Loading.." height="100%" width="100%"/>
			</div>
		
			<!-- PixelCon --
			<div class="displayTable">
				<pixelconcard class="pixelconCard" pixelcon="pixelcon" size="{{(ctrl.screenSize.sm)?'xs':(ctrl.screenSize.md?'sm':'md')}}" ng-repeat="pixelcon in ctrl.pixelcons track by $index"></pixelconcard>
			</div>
		</div>

		
		<!-- Paging --
		<div class="searchPaging">
			<section layout="row" layout-align="left">
				<md-button ng-click="ctrl.updatePage(ctrl.currPage-1)" ng-disabled="ctrl.currPage<=1" class="pageButton previous" aria-label="Page Previous"></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage-4)" ng-if="ctrl.currPage>0&&ctrl.currPage-4>0 && ctrl.currPage+1>ctrl.maxPage" class="pageButton"><b>{{ctrl.currPage-4}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage-3)" ng-if="ctrl.currPage>0&&ctrl.currPage-3>0 && ctrl.currPage+2>ctrl.maxPage" class="pageButton"><b>{{ctrl.currPage-3}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage-2)" ng-if="ctrl.currPage>0&&ctrl.currPage-2>0" class="pageButton"><b>{{ctrl.currPage-2}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage-1)" ng-if="ctrl.currPage>0&&ctrl.currPage-1>0" class="pageButton"><b>{{ctrl.currPage-1}}</b></md-button>
				<md-button md-colors="{background: 'primary'}" ng-if="ctrl.currPage>0" class="pageButton"><b>{{ctrl.currPage}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage+1)" ng-if="ctrl.currPage>0&&ctrl.currPage+1<=ctrl.maxPage" class="pageButton"><b>{{ctrl.currPage+1}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage+2)" ng-if="ctrl.currPage>0&&ctrl.currPage+2<=ctrl.maxPage" class="pageButton"><b>{{ctrl.currPage+2}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage+3)" ng-if="ctrl.currPage>0&&ctrl.currPage+3<=ctrl.maxPage && ctrl.currPage-2<=0" class="pageButton"><b>{{ctrl.currPage+3}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage+4)" ng-if="ctrl.currPage>0&&ctrl.currPage+4<=ctrl.maxPage && ctrl.currPage-1<=0" class="pageButton"><b>{{ctrl.currPage+4}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage+1)" ng-disabled="ctrl.currPage==0 || ctrl.currPage>=ctrl.maxPage" class="pageButton next" aria-label="Page Next"></md-button>
			</section>
			<div class="pagingText textLight" ng-if="ctrl.maxPage && !ctrl.screenSize.sm"><b>{{ctrl.maxPage}}</b> Pages</div>
		</div>
	</div>
	-->
	
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
