<div class="pixelconSearchPage" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<div class="topFilter" ng-class="{'expanded': ctrl.filterOpen}">
		<md-button class="topFilterButton filterButton textDark" ng-click="ctrl.filterOpen = !ctrl.filterOpen" aria-label="Filter">
			<div class="buttonIcon filter"></div>
			<accounticon ng-if="ctrl.ownerAddress" class="accountTitleIcon" address="ctrl.ownerAddress" border="2"></accounticon>
			<span ng-if="ctrl.ownerAddress">{{ctrl.formatAddressString()}}</span>
			<md-progress-circular ng-if="ctrl.ownerAddressNameLoading" class="filterAddressLoading" md-diameter="14px" md-mode="indeterminate"></md-progress-circular>
			<span ng-if="!ctrl.ownerAddress && !ctrl.ownerAddressName">Filter Invaders</span>
		</md-button>
		<md-menu ng-if="ctrl.ownerAddress" md-position-mode="target-right target">
			<md-button class="topFilterButton" ng-click="$mdOpenMenu()" aria-label="Share Account">
				<div class="buttonIcon share"></div>
			</md-button>
			<md-menu-content class="shareLinksContextMenu">
				<md-menu-item>
					<md-button ng-click="ctrl.copyLink()"><div class="shareLinkIcon url textBlack"></div>Copy URL</md-button>
				</md-menu-item>
				<md-menu-item>
					<a ng-href="{{ctrl.shareOnFacebook()}}" target="_blank" class="textBlack">
						<md-button><div class="shareLinkIcon facebook"></div>Share on Facebook</md-button>
					</a>
				</md-menu-item>
				<md-menu-item>
					<a ng-href="{{ctrl.shareOnTwitter()}}" target="_blank" class="textBlack">
						<md-button><div class="shareLinkIcon twitter"></div>Share on Twitter</md-button>
					</a>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-button class="topFilterButton right" ng-click="" aria-label="Large View">
			<div class="buttonIcon large"></div>
		</md-button>
		<md-button class="topFilterButton right" ng-click="" aria-label="Small View">
			<div class="buttonIcon small"></div>
		</md-button>
		<md-select ng-if="!ctrl.screenSize.sm" class="md-no-underline right" ng-model="ctrl.sortBy" ng-change="ctrl.onSortChange()" aria-label="Sort">
			<md-option value="createdDesc">Uncovered Desc</md-option>
			<md-option value="createdAsc">Uncovered Asc</md-option>
		</md-select>
		
		<div class="moreFilter">
			<md-select ng-if="ctrl.screenSize.sm" class="md-no-underline" ng-model="ctrl.sortBy" ng-change="ctrl.onSortChange()" aria-label="Sort">
				<md-option value="createdDesc">Uncovered Desc</md-option>
				<md-option value="createdAsc">Uncovered Asc</md-option>
			</md-select>
			<br/>
			<div class="levelSelect textDark textMedium">
				<span>Level</span>
				<input class="levelInput" type="number" step="any" name="levelMin" ng-model="ctrl.levelMin" ng-change="ctrl.onLevelChange()" min="0" max="30"/>
				<span>to</span>
				<input class="levelInput" type="number" step="any" name="levelMax" ng-model="ctrl.levelMax" ng-change="ctrl.onLevelChange()" min="0" max="30"/>
			</div>
			<br/>
			<div class="ownerSelect textDark textMedium">
				<span>Owner</span>
				<input class="ownerInput" maxlength="45" name="owner" ng-model="ctrl.owner" ng-change="ctrl.onOwnerChange()"/>
				<md-progress-circular ng-show="ctrl.checkingOwner" class="ownerLoading" md-diameter="16px" md-mode="indeterminate"></md-progress-circular>
				<accounticon ng-show="!ctrl.checkingOwner && ctrl.ownerAddress" class="ownerIcon" address="ctrl.ownerAddress" border="2"></accounticon>
				<div ng-show="!ctrl.checkingOwner && !ctrl.ownerAddress && ctrl.owner" class="ownerUnknown textDark textBold textMedium">??</div>
			</div>
			<br/>
			<md-checkbox class="colorCheckbox water textDark textMedium" ng-model="ctrl.typeWater" ng-change="ctrl.onTypeChange()">Water</md-checkbox>
			<md-checkbox class="colorCheckbox forest textDark textMedium" ng-model="ctrl.typeForest" ng-change="ctrl.onTypeChange()">Forest</md-checkbox>
			<md-checkbox class="colorCheckbox fire textDark textMedium" ng-model="ctrl.typeFire" ng-change="ctrl.onTypeChange()">Fire</md-checkbox>
			<md-checkbox class="colorCheckbox desert textDark textMedium" ng-model="ctrl.typeDesert" ng-change="ctrl.onTypeChange()">Desert</md-checkbox>
			<md-checkbox class="colorCheckbox electric textDark textMedium" ng-model="ctrl.typeElectric" ng-change="ctrl.onTypeChange()">Electric</md-checkbox>
			<md-checkbox class="colorCheckbox metal textDark textMedium" ng-model="ctrl.typeMetal" ng-change="ctrl.onTypeChange()">Metal</md-checkbox>
			<br/>
			<md-checkbox class="colorCheckbox defence textDark textMedium" ng-model="ctrl.attrDefence" ng-change="ctrl.onAttributeChange()">Defence</md-checkbox>
			<md-checkbox class="colorCheckbox attack textDark textMedium" ng-model="ctrl.attrAttack" ng-change="ctrl.onAttributeChange()">Attack</md-checkbox>
			<br/>
			<md-checkbox class="colorCheckbox longRange textDark textMedium" ng-model="ctrl.attrLongRange" ng-change="ctrl.onAttributeChange()">Long Range</md-checkbox>
			<md-checkbox class="colorCheckbox shortRange textDark textMedium" ng-model="ctrl.attrShortRange" ng-change="ctrl.onAttributeChange()">Short Range</md-checkbox>
		</div>
			
	</div>
	
	<!--
	<div class="accountCard colorLight">
		
		<!-- Header --
		<div class="searchFilter">
			<div class="searchBar">
				<form ng-submit="ctrl.checkUpdateData()">
					<md-input-container md-no-float class="md-block">
						<div class="searchIcon"></div>
						<input ng-model="ctrl.filter.searchText" ng-disabled="ctrl.error || ctrl.grabbingData" ng-change="" placeholder="Search"/>
					</md-input-container>
					<div class="searchCount textLight"><b>{{ctrl.totalFound}}</b> {{ctrl.screenSize.sm?'':(ctrl.totalFound==1?'PixelCon':'PixelCons')}}</div>
				</form>
			</div>
			<div class="options" layout="row">
			</div>
			<div class="sorting">
				<md-select class="sortBy md-no-underline" ng-disabled="ctrl.error || ctrl.grabbingData || ctrl.disableFilters" ng-model="ctrl.filter.sortBy" ng-change="ctrl.checkUpdateData()" placeholder="Sort By">
					<md-option value="dateCreated">Date Created</md-option>
				</md-select>
				<md-button class="iconButton" ng-class="{'sortDesc': ctrl.filter.sortDesc, 'sortAsc': !ctrl.filter.sortDesc}" ng-disabled="ctrl.error || ctrl.grabbingData || ctrl.disableFilters"
						ng-click="ctrl.setSortOrder(!ctrl.filter.sortDesc)" aria-label="Sort Order"></md-button>
			</div>
		</div>
		
		
		<!-- Viewer window --
		<div id="searchPagePixelconWindow" class="displayWindow colorDark"  ng-style="{'min-height': ctrl.displayHeight}">
		
			<!-- Error --
			<div class="error colorLight textSelectable" ng-show="ctrl.error" ng-bind-html="ctrl.error"></div>
		
			<!-- Empty --
			<div class="error colorLight textSelectable" ng-show="!ctrl.error && !ctrl.loading && !ctrl.grabbingData && ctrl.pixelcons.length==0">
				No PixelCons
			</div>
		
			<!-- Loading --
			<div class="loading colorLight" ng-show="ctrl.loading || ctrl.grabbingData">
				<img class="crispImage" src="img/loading.gif" alt="Loading.." height="100%" width="100%"/>
			</div>
		
			<!-- PixelCon --
			<div class="displayTable">
				<pixelconcard class="pixelconCard" pixelcon="pixelcon" size="{{(ctrl.screenSize.sm)?'xs':(ctrl.screenSize.md?'sm':'md')}}" ng-repeat="pixelcon in ctrl.pixelcons track by $index"></pixelconcard>
			</div>
		</div>

		
		<!-- Paging --
		<div class="searchPaging">
			<section layout="row" layout-align="left">
				<md-button ng-click="ctrl.updatePage(ctrl.currPage-1)" ng-disabled="ctrl.currPage<=1" class="pageButton previous" aria-label="Page Previous"></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage-4)" ng-if="ctrl.currPage>0&&ctrl.currPage-4>0 && ctrl.currPage+1>ctrl.maxPage" class="pageButton"><b>{{ctrl.currPage-4}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage-3)" ng-if="ctrl.currPage>0&&ctrl.currPage-3>0 && ctrl.currPage+2>ctrl.maxPage" class="pageButton"><b>{{ctrl.currPage-3}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage-2)" ng-if="ctrl.currPage>0&&ctrl.currPage-2>0" class="pageButton"><b>{{ctrl.currPage-2}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage-1)" ng-if="ctrl.currPage>0&&ctrl.currPage-1>0" class="pageButton"><b>{{ctrl.currPage-1}}</b></md-button>
				<md-button md-colors="{background: 'primary'}" ng-if="ctrl.currPage>0" class="pageButton"><b>{{ctrl.currPage}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage+1)" ng-if="ctrl.currPage>0&&ctrl.currPage+1<=ctrl.maxPage" class="pageButton"><b>{{ctrl.currPage+1}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage+2)" ng-if="ctrl.currPage>0&&ctrl.currPage+2<=ctrl.maxPage" class="pageButton"><b>{{ctrl.currPage+2}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage+3)" ng-if="ctrl.currPage>0&&ctrl.currPage+3<=ctrl.maxPage && ctrl.currPage-2<=0" class="pageButton"><b>{{ctrl.currPage+3}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage+4)" ng-if="ctrl.currPage>0&&ctrl.currPage+4<=ctrl.maxPage && ctrl.currPage-1<=0" class="pageButton"><b>{{ctrl.currPage+4}}</b></md-button>
				<md-button ng-click="ctrl.updatePage(ctrl.currPage+1)" ng-disabled="ctrl.currPage==0 || ctrl.currPage>=ctrl.maxPage" class="pageButton next" aria-label="Page Next"></md-button>
			</section>
			<div class="pagingText textLight" ng-if="ctrl.maxPage && !ctrl.screenSize.sm"><b>{{ctrl.maxPage}}</b> Pages</div>
		</div>
	</div>
	-->
	
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
