<md-dialog class="sendDialog colorDark textBlack" ng-class="ctrl.screenSize" aria-label="Send Invader">
	
	<!-- Header -->
	<div class="dialogTitle" ng-class="{'sendEthDialogTitle': ctrl.ethMode}">{{ctrl.title}}</div>
	<div class="invaderContainer" ng-if="!ctrl.ethMode">
		<img class="invaderImage crispImage" style="width:100%; height:100%;" ng-src="{{ctrl.invaderImg}}"/>
	</div>
	
	<!-- Error View -->
	<div class="view" ng-show="ctrl.currView=='error'" ng-cloak>
		<div class="infoText errorTitle textSelectable" ng-bind-html="ctrl.error"></div>
	</div>
	
	<!-- No Account Send View -->
	<div class="view" ng-if="ctrl.currView=='sendEthError'" ng-cloak>
		<div class="infoText noAccountTitle">
			<b>You can tip the Devs at the following Ethereum Address:</b>
			<br/><br/>
			<div class="addressFont textLighter">{{ctrl.toAddress}}</div>
			<br/><br/>
			<div class="textMedium textDark">Thank You!</div>
		</div>
	</div>
	
	<!-- Loading View -->
	<div class="view" ng-if="ctrl.currView=='loading'" ng-cloak>
		<div class="loadingIcon">
			<img class="crispImage" src="img/loading.gif" alt="Loading.." height="100%" width="100%"/>
		</div>
		<div class="infoText">Verifying...</div>
	</div>
	
	<!-- Send Invader View -->
	<div class="view" ng-if="ctrl.currView=='sendInvader'" ng-cloak>
		<div class="infoText sendInvaderTitle">Enter Receiving Address</div>
		<md-input-container md-no-float class="addressInput textSmall md-block">
			<input md-autofocus ng-model="ctrl.toAddress" ng-change="ctrl.checkValid()" placeholder="Receiving Address"/>
		</md-input-container>
		<div class="actionButtons">
			<div class="note textLighter">1 <span class="textSmall">Invader</span></div>
			<md-button ng-disabled="!ctrl.canSend" ng-click="ctrl.sendInvader()">
				<span>Send</span>
				<md-progress-circular class="checkingSend" ng-if="ctrl.canSendChecking" md-diameter="14px" md-mode="indeterminate"></md-progress-circular>
			</md-button>
		</div>
		<div class="textNote termsNote">By sending this Invader, you agree to the <a class="light link textLighter" ng-click="ctrl.closeDialog()" href="/terms">Terms of Use</a></div>
	</div>
	
	<!-- Send Eth View -->
	<div class="view" ng-if="ctrl.currView=='sendEth'" ng-cloak>
		<div class="infoText sendEthTitle">Developer Address:</div>
		<div class="addressFont textLighter">{{ctrl.toAddress}}</div>
		<md-input-container md-no-float class="amountInput md-block">
			<input md-autofocus ng-model="ctrl.sendAmount" ng-change="ctrl.checkValidAmount()" placeholder="Amount (Eth)" type="number" step="0.001"/>
		</md-input-container>
		<div class="actionButtons">
			<md-button ng-disabled="!ctrl.canSend" ng-click="ctrl.sendEth()">Tip!</md-button>
		</div>
	</div>
	
	<div class="dialogCloseButton" ng-click="ctrl.closeDialog()"></div>
</md-dialog>
