<div class="invadersExplorePage" ng-click="ctrl.filterOpen = false" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<!-- Filter -->
	<div class="topFilter" ng-if="!ctrl.error" ng-click="$event.stopPropagation()" ng-class="{'expanded': ctrl.filterOpen}">
		<md-button class="topFilterButton filterButton textDark" ng-click="ctrl.filterOpen = !ctrl.filterOpen" aria-label="Filter">
			<div class="buttonIcon filter"></div>
			<accounticon ng-if="ctrl.ownerAddress" class="accountTitleIcon" address="ctrl.ownerAddress" border="2"></accounticon>
			<span ng-if="ctrl.ownerAddress">{{ctrl.getFilterTitleOwnerString()}}</span>
			<md-progress-circular ng-if="ctrl.ownerAddressNameLoading" class="filterAddressLoading" md-diameter="14px" md-mode="indeterminate"></md-progress-circular>
			<span ng-class="{'shiftLeft':ctrl.ownerAddress}">{{ctrl.getFilterTitleString()}}</span>
		</md-button>
		<md-button class="topFilterButton right" ng-click="ctrl.smallView = false" aria-label="Large View">
			<div class="buttonIcon large"></div>
		</md-button>
		<md-button class="topFilterButton right" ng-click="ctrl.smallView = true" aria-label="Small View">
			<div class="buttonIcon small"></div>
		</md-button>
		<div class="topFilterButtonDivider right"></div>
		<md-menu md-position-mode="target-right target">
			<md-button class="topFilterButton right" ng-click="$mdOpenMenu()" aria-label="Share Account">
				<div class="buttonIcon share"></div>
			</md-button>
			<md-menu-content class="shareLinksContextMenu">
				<md-menu-item>
					<md-button ng-click="ctrl.copyLink()"><div class="shareLinkIcon url textBlack"></div>Copy URL</md-button>
				</md-menu-item>
				<md-menu-item>
					<a ng-href="{{ctrl.shareOnFacebook()}}" target="_blank" class="textBlack">
						<md-button><div class="shareLinkIcon facebook"></div>Share on Facebook</md-button>
					</a>
				</md-menu-item>
				<md-menu-item>
					<a ng-href="{{ctrl.shareOnTwitter()}}" target="_blank" class="textBlack">
						<md-button><div class="shareLinkIcon twitter"></div>Share on Twitter</md-button>
					</a>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-select ng-if="!ctrl.screenSize.sm" class="md-no-underline right" ng-model="ctrl.sortBy" ng-change="ctrl.onSortChange()" aria-label="Sort">
			<md-option value="createdDesc">Date Desc</md-option>
			<md-option value="createdAsc">Date Asc</md-option>
			<md-option value="levelDesc">Level Desc</md-option>
			<md-option value="levelAsc">Level Asc</md-option>
			<md-option value="rarityDesc">Rarity Desc</md-option>
		</md-select>
		
		<div class="moreFilter">
			<md-select ng-if="ctrl.screenSize.sm" class="md-no-underline" ng-model="ctrl.sortBy" ng-change="ctrl.onSortChange()" aria-label="Sort">
			<md-option value="createdDesc">Date Desc</md-option>
			<md-option value="createdAsc">Date Asc</md-option>
			<md-option value="levelDesc">Level Desc</md-option>
			<md-option value="levelAsc">Level Asc</md-option>
			<md-option value="rarityDesc">Rarity Desc</md-option>
			</md-select>
			<br/>
			<div class="levelSelect textDark textMedium">
				<span>Level</span>
				<input class="levelInput" type="number" step="any" name="levelMin" ng-model="ctrl.levelMin" ng-change="ctrl.onLevelChange()" min="0" max="30"/>
				<span>to</span>
				<input class="levelInput" type="number" step="any" name="levelMax" ng-model="ctrl.levelMax" ng-change="ctrl.onLevelChange()" min="0" max="30"/>
			</div>
			<br/>
			<div class="ownerSelect textDark textMedium">
				<span>Owner</span>
				<input class="ownerInput" maxlength="45" name="owner" ng-model="ctrl.owner" ng-change="ctrl.onOwnerChange()"/>
				<md-progress-circular ng-show="ctrl.checkingOwner" class="ownerLoading" md-diameter="16px" md-mode="indeterminate"></md-progress-circular>
				<accounticon ng-show="!ctrl.checkingOwner && ctrl.ownerAddress" class="ownerIcon" address="ctrl.ownerAddress" border="2"></accounticon>
				<div ng-show="!ctrl.checkingOwner && !ctrl.ownerAddress && ctrl.owner" class="ownerUnknown textDark textBold textMedium">??</div>
			</div>
			<br/>
			<md-checkbox class="colorCheckbox water textDark textMedium" ng-model="ctrl.typeWater" ng-change="ctrl.onTypeChange()">Water</md-checkbox>
			<md-checkbox class="colorCheckbox forest textDark textMedium" ng-model="ctrl.typeForest" ng-change="ctrl.onTypeChange()">Forest</md-checkbox>
			<md-checkbox class="colorCheckbox fire textDark textMedium" ng-model="ctrl.typeFire" ng-change="ctrl.onTypeChange()">Fire</md-checkbox>
			<md-checkbox class="colorCheckbox desert textDark textMedium" ng-model="ctrl.typeDesert" ng-change="ctrl.onTypeChange()">Desert</md-checkbox>
			<md-checkbox class="colorCheckbox electric textDark textMedium" ng-model="ctrl.typeElectric" ng-change="ctrl.onTypeChange()">Electric</md-checkbox>
			<md-checkbox class="colorCheckbox metal textDark textMedium" ng-model="ctrl.typeMetal" ng-change="ctrl.onTypeChange()">Metal</md-checkbox>
			<br/>
			<md-checkbox class="colorCheckbox defence textDark textMedium" ng-model="ctrl.attrDefence" ng-change="ctrl.onAttributeChange()">Defence</md-checkbox>
			<md-checkbox class="colorCheckbox attack textDark textMedium" ng-model="ctrl.attrAttack" ng-change="ctrl.onAttributeChange()">Attack</md-checkbox>
			<br/>
			<md-checkbox class="colorCheckbox longRange textDark textMedium" ng-model="ctrl.attrLongRange" ng-change="ctrl.onAttributeChange()">Long Range</md-checkbox>
			<md-checkbox class="colorCheckbox shortRange textDark textMedium" ng-model="ctrl.attrShortRange" ng-change="ctrl.onAttributeChange()">Short Range</md-checkbox>
		</div>
			
	</div>
	
	<!-- Invaders -->
	<div class="invadersContainer" ng-class="{'small':ctrl.smallView}" ng-if="!ctrl.error">
		<md-progress-circular ng-if="ctrl.invadersLoading" class="invadersLoading" md-diameter="80px" md-mode="indeterminate"></md-progress-circular>
		<div ng-if="!invader.hidden" class="invader crispImage" ng-class="invader.panelClass" ng-style="{'background-position':invader.panelOffset}" 
				ng-repeat="invader in ctrl.invaders track by $index" ng-mouseenter="ctrl.invaderMouseEnter(invader, $event)" ng-mouseleave="ctrl.invaderMouseLeave(invader, $event)">
			<a ng-href="{{'/details/' + invader.number}}" href="" class="plain buttonLink textDark"></a>
		</div>
	</div>
	
	<!-- Error -->
	<div class="error textDark textSelectable" ng-if="ctrl.error" ng-bind-html="ctrl.error"></div>
	
	
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
