/* General */
div.invaderHomePage {
	width: 100%;
}
div.invaderHomePage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.invaderHomePage.sm div.topSpacer {
	height: 10px;
}
div.invaderHomePage div.bottomSpacer {
	width: 100%;
	height: 30px;
}
div.invaderHomePage.sm div.bottomSpacer {
	height: 20px;
}

/* Home Card Container */
div.invaderHomePage div.homeContainer {
	padding: 20px 0px;
}
div.invaderHomePage div.fullCard {
	padding: 15px;
}
div.invaderHomePage.sm div.fullCard {
	padding: 15px 0px 15px 0px;
}
div.invaderHomePage .transBack {
	background-color: #80808093;
}

/* Content */
div.invaderHomePage div.titleTextBox {
	display: inline-block;
	max-width: 340px;
	vertical-align: middle;
	margin: 0px 20px;
	padding: 18px;
}
div.invaderHomePage.sm div.titleTextBox {
    margin: 0px 10px;
    padding: 10px;
}
div.invaderHomePage div.titleCollectionContainer {
	display: inline-block;
	vertical-align: middle;
	font-size: 0px;
	width: 250px;
	height: 250px;
}
div.invaderHomePage div.titleCollectionContainer div.titleCollectionItem {
	display: inline-block;
	vertical-align: middle;
	width: 72px;
	height: 72px;
	margin: 5px;
}
div.invaderHomePage div.titleCollectionContainer.small {
	width: 226px;
	height: 226px;
}
div.invaderHomePage div.titleCollectionContainer.small div.titleCollectionItem {
	width: 64px;
	height: 64px;
}
div.invaderHomePage div.sourceImage {
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	height: 200px;
	font-size: 0px;
	background-size: contain;
	background-position: center;
}
div.invaderHomePage div.sourceImage.small {
	width: 320px;
	height: 160px;
}
div.invaderHomePage div.sourceLinks {
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	font-size: 0px;
}
div.invaderHomePage div.sourceLinks.small {
	width: 320px;
}
div.invaderHomePage div.sourceLinks .socialLink {
	transition: all cubic-bezier(0.35, 0, 0.25, 1) 0.05s;
	width: 80px;
	height: 80px;
	margin: 10px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
div.invaderHomePage div.sourceLinks.small .socialLink {
	width: 60px;
	height: 60px;
}
div.invaderHomePage div.sourceLinks .socialLink:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}
div.invaderHomePage div.sourceLinks .socialLink.github {
	background-image: url("/img/icon_github_w.svg");
}
div.invaderHomePage div.sourceLinks .socialLink.twitter {
	background-image: url("/img/icon_twitter_w.svg");
}
div.invaderHomePage div.sourceLinks .socialLink.discord {
	background-image: url("/img/icon_discord_w.svg");
}
div.invaderHomePage div.sourceLinks .socialLink.opensea {
	background-image: url("/img/icon_opensea_w.svg");
}
div.invaderHomePage .textBox {
	display: inline-block;
	max-width: 590px;
	vertical-align: middle;
	padding: 0px 20px;
	margin: 10px 0px;
}
div.invaderHomePage .textBox ul {
	margin: 5px 0px 0px 0px;
}
