/* General */
*:focus {
	outline: 0;
	outline: none;
}
.textSelectable {
	-webkit-user-select: text; /* Chrome/Safari */
	-moz-user-select: text; /* Firefox */
	-ms-user-select: text; /* IE10+ */
	-o-user-select: text;
	user-select: text;
}
.textNotSelectable {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}
.crispImage {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
.filteredImage {
	image-rendering: auto;
}
.clickable {
	cursor: pointer;
}
.messageSettingsLink {
	display: inline-block;
	cursor: pointer;
	text-decoration: underline;
}

/* Colors */
.colorDark {
	background-color: #f2f2f2;
}
.colorDarkOverlay {
	background-color: rgba(242, 242, 242, 0.7);
}
.colorLight {
	background-color: #525252;
}
.colorGray {
	background-color: #f7f7f7;
}
.colorWhite {
	background-color: #333333;
}
.colorYellow {
	background-color: #efd273;
}
.colorLavender {
	background-color: #73b7dc;
}
.colorBorderDark {
	border-color: #333333;
}
.colorBorderDarkOverlay {
	border-color: rgba(242, 242, 242, 0.7);
}
.colorBorderLight {
	border-color: #f2f2f2;
}
.colorBorderGray {
	border-color: #d2d2d2;
}
.colorBorderWhite {
	border-color: #ffffff;
}
.colorBorderYellow {
	border-color: #efd273;
}
.colorBorderLavender {
	border-color: #73b7dc;
}

/* Text Sizes/Colors */
.textExSmall {
	font-size: 10px;
}
.textSmall {
	font-size: 12px;
}
.textMedium {
	font-size: 16px;
}
.textLarge {
	font-size: 20px;
}
.textExLarge {
	font-size: 26px;
}
.textExxLarge {
	font-size: 32px;
}
.textTitleSmall {
	font-size: 40px;
}
.textTitleLarge {
	font-size: 65px;
}
.textTitleExLarge {
	font-size: 80px;
}
.textBold {
	font-weight: 600;
}
.textNotBold {
	font-weight: 500;
}
.textCenter {
	text-align: center;
}
.textLeft {
	text-align: left;
}
.textRight {
	text-align: right;
}
.textNote {
	font-size: 12px;
	line-height: 14px;
	color: grey;
}
.textDark {
	color: #f2f2f2;
}
.textLight {
	color: #a1a1a1;
}
.textLighter {
	color: #717171;
}
.textBlack {
	color: #333333;
}

/* Icon Button */
.iconButton {
	padding: 0px;
	max-width: 36px;
	min-width: 36px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.iconButton[disabled] {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.buttonIcon {
	display: inline-block !important;
	width: 24px;
	height: 24px;
	margin: 6px 0px -6px 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.buttonIcon.dark {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.buttonIcon.market {
	background-image: url("/img/icon_market.svg");
}
.buttonIcon.explore {
	background-image: url("/img/icon_explore_w.svg");
}
.buttonIcon.account {
	background-image: url("/img/icon_wallet_w.svg");
}
.buttonIcon.mint {
	background-image: url("/img/icon_scan_w.svg");
}
.buttonIcon.download {
	background-image: url("/img/icon_download.svg");
}

/* App Layout */
div.appContainer {
	height: 100%;
	width: 100%;
	background-color: #dddddd;
}
div.pageContent {
	width: 100%;
	height: 100%;
}
div.pageContentBackground {
	min-height: 100%;
	background-image: url("../img/back.png");
}
div.pageContentBackground.groupOverride {
	background-image: url("../img/back.png");
	-webkit-transition: cubic-bezier(0.35, 0, 0.25, 1) 0.4s;
	-moz-transition: cubic-bezier(0.35, 0, 0.25, 1) 0.4s;
	-ms-transition: cubic-bezier(0.35, 0, 0.25, 1) 0.4s;
	-o-transition: cubic-bezier(0.35, 0, 0.25, 1) 0.4s;
	transition: cubic-bezier(0.35, 0, 0.25, 1) 0.4s;
}
div.md-open-menu-container {
	font-size: 0px;
	width: auto !important;
	display: inline-block !important;
}

/* Color override */
button.md-button.md-primary.md-raised {
	background-color: #5591c1;
}
button.md-button.md-raised {
	color: #525252;
}
button.md-button.md-raised.dim {
	background-color: #dcdcdc;
}

/* Share links */
.shareLinksContextMenu a,
.shareLinksContextMenu a:link,
.shareLinksContextMenu a:visited,
.shareLinksContextMenu a:hover,
.shareLinksContextMenu a:active {
	margin: 0px;
	padding: 0px;
}
.shareLinksContextMenu button.md-button {
	text-transform: none;
	margin: 0px;
	padding: 0px 16px;
	width: 100%;
	text-align: left;
}
.shareLinksContextMenu md-menu-item {
	min-height: 36px;
	height: 36px;
}
.shareLinksContextMenu button {
	height: 36px;
}
.shareLinksContextMenu div.shareLinkIcon {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: sub;
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 8px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.shareLinksContextMenu div.shareLinkIcon.url {
	background-image: url(/img/icon_link.svg);
}
.shareLinksContextMenu div.shareLinkIcon.facebook {
	background-image: url(/img/icon_facebook.svg);
}
.shareLinksContextMenu div.shareLinkIcon.twitter {
	background-image: url(/img/icon_twitter.svg);
}

/* Hyperlink */
a.light:link,
a.light:visited {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
a.light:hover,
a.light:active {
	opacity: 1;
	filter: alpha(opacity=100);
}
a.plain:link,
a.plain:visited,
a.plain:hover,
a.plain:active {
	text-decoration: none;
}
a.buttonLink {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/* Spinner */
md-progress-circular svg path {
	stroke: #f2f2f2;
}

/* Scrollbar */
.appContainer .invisibleScroll {
	overflow-y: auto; 
	overflow-y: overlay;
	overflow-x: hidden;
	scrollbar-color: rgba(153, 153, 153, 0.7) transparent;
	scrollbar-width: thin;
}
.appContainer .invisibleScroll::-webkit-scrollbar {
	width: 8px;
}
.appContainer.sm .invisibleScroll::-webkit-scrollbar {
	width: 3px;
}
.appContainer .invisibleScroll::-webkit-scrollbar-track {
	background: transparent
}
.appContainer .invisibleScroll::-webkit-scrollbar-thumb {
	background: #ffffff7a;
	border-radius: 4px;
}
.appContainer .invisibleScroll::-webkit-scrollbar-thumb:hover {
	background: #ffffffbd;
}

/* Image expand */
.imageExpandContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000c4;
	z-index: 100;
}
.imageExpandContainer .imageExpandMessageDiv {
	position: absolute;
	width: 300px;
	height: 80px;
	line-height: 80px;
	left: calc(50% - 150px);
	top: calc(50% - 40px);
	border-radius: 10px;
	font-size: 24px;
	text-align: center;
	background-color: #eeeeee;
}
.imageExpandContainer .imageExpandImageDiv {
	position: absolute;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center; 
}
.imageExpandContainer .imageExpandImage {
	width: 100%;
	height: 100%;
	opacity: 0.0;
	filter: alpha(opacity=0);
}
.imageExpandContainer .imageExpandClose {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20%;
	height: 20%;
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: top right;
	background-image: url(/img/icon_close_w.svg);
	opacity: 0.6;
	cursor: pointer;
}
.imageExpandContainer .imageExpandClose:hover {
	opacity: 0.9;
}
