<md-dialog class="settingsDialog colorDark" ng-class="ctrl.screenSize" aria-label="Settings">
	
	<!-- Header -->
	<div class="dialogTitle">Settings<div class="settingsIcon"></div></div>
	
	<!-- Inputs -->
	<md-content layout-padding class="colorDark">
		<md-input-container class="md-block" flex>
			<label class="dialogInputLabel">{{ctrl.networkNameL1}}</label>
			<input ng-model="ctrl.networkRPCL1">
		</md-input-container>
		<md-input-container class="md-block" flex>
			<label class="dialogInputLabel">{{ctrl.networkNameL2}}</label>
			<input ng-model="ctrl.networkRPCL2">
		</md-input-container>
	</md-content>
	
	<!-- Buttons -->
	<div class="actionButtons">
		<md-button ng-click="ctrl.apply()">Apply</md-button>
	</div>
	
	<div class="dialogCloseButton" ng-click="ctrl.closeDialog()"></div>
</md-dialog>
