/* General */
div.invadersMintPage {
	width: 100%;
}
div.invadersMintPage div.topSpacer {
	width: 100%;
	height: 20px;
}
div.invadersMintPage.sm div.topSpacer {
	height: 10px;
}
div.invadersMintPage div.bottomSpacer {
	width: 100%;
	height: 20px;
}
div.invadersMintPage.sm div.bottomSpacer {
	height: 10px;
}
div.invadersMintPage .addressLoadingSpinner {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -80px -40px;
}

/* Explainer */
div.invadersMintPage div.explainer {
	width: calc(100% - 60px);
	max-width: 1280px;
	margin: 0 auto;
	font-size: 0px;
	padding: 0px 5px;
}
div.invadersMintPage.sm div.explainer {
	width: calc(100% - 24px);
}
div.invadersMintPage button.explainerButton {
	text-transform: none;
	margin: 8px 0px;
}
div.invadersMintPage button.explainerButton div.hint {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(/img/icon_hint_w.svg);
	background-size: 16px;
}
div.invadersMintPage .explainerText {
	margin: 10px 0px;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

/* Top Filter */
div.invadersMintPage div.scanMore {
	width: calc(100% - 60px);
	max-width: 1280px;
	margin: 0 auto;
	font-size: 0px;
	padding: 0px 5px;
	background-color: #80808093;
}
div.invadersMintPage.sm div.scanMore {
	width: calc(100% - 24px);
}
div.invadersMintPage .right {
	float: right;
}

div.invadersMintPage button.scanMoreButton {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 0px;
    height: 0px;
    padding: 0px 4px;
    min-height: 33px;
}
div.invadersMintPage button.scanMoreButton .buttonIcon {
	margin-top: 4px;
}
div.invadersMintPage .buttonIcon.scan {
	background-image: url(/img/icon_scan_w.svg);
}
div.invadersMintPage .scanTitleCard {
	display: inline-block;
	margin: 5px;
	width: 400px;
}
div.invadersMintPage.sm .scanTitleCard {
	width: 245px;
}
div.invadersMintPage .titleCardAccount {
	display: inline-block;
    vertical-align: top;
	margin-right: 5px;
    width: 40px;
    height: 40px;
}
div.invadersMintPage .titleCardText {
	display: inline-block;
	height: 40px;
}

/* Scan More */
div.invadersMintPage div.scanMore .scanMoreOptions {
	max-height: 0px;
	width: 100%;
	padding: 0px 0px;
	overflow: hidden;
	transition: max-height cubic-bezier(0.35, 0, 0.25, 1) 0.15s, padding cubic-bezier(0.35, 0, 0.25, 1) 0.15s;
}
div.invadersMintPage div.scanMore.expanded .scanMoreOptions {
	max-height: 80vh;
	padding: 5px 0px;
}
div.invadersMintPage div.scanMore div.moreOptionTitle {
	width: 400px;
	padding: 0px 10px;
	box-sizing: border-box;
	display: inline-block;
}
div.invadersMintPage.sm div.scanMore div.moreOptionTitle {
	line-height: 21px;
	width: 220px;
	padding: 0px;
}
div.invadersMintPage div.scanMore div.moreOptionTitle div.openSeaIcon {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: top;
	background-image: url(/img/icon_opensea_w.svg);
	background-size: 20px;
	margin: 1px 5px 0px 5px;
}
div.invadersMintPage div.scanMore div.moreOptionContainer {
	position: relative;
	height: calc(100vh - 350px);
	width: 100%;
	overflow-y: auto; 
	overflow-y: overlay;
	overflow-x: hidden;
	scrollbar-color: rgba(153, 153, 153, 0.7) transparent;
	scrollbar-width: thin;
}
div.invadersMintPage md-select {
	display: inline-block;
	margin: 0px;
	font-size: 14px;
	color: #f2f2f2;
	margin-top: -4px;
	margin-right: 5px;
}
div.invadersMintPage md-select:focus div.md-text {
	color: #f2f2f2;
}
div.invadersMintPage md-select div.md-text {
	margin-left: 30px;
}
div.invadersMintPage md-select .md-select-icon {
	background-image: url(/img/icon_sort_w.svg);
    width: 20px;
    height: 20px;
    color: #00000000;
	position: absolute;
}
div.invadersMintPage.sm div.scanMore div.moreOptionContainer {
	height: calc(100vh - 250px);
}
div.invadersMintPage div.scanMore div.moreOptionContainer .moreLoadingSpinner {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -25px -25px;
}
div.invadersMintPage div.scanMore div.marketItemContainer {
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 116px;
	height: 86px;
	margin: 10px;
}
div.invadersMintPage div.scanMore div.marketItem {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 116px;
	height: 72px;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
div.invadersMintPage div.scanMore div.marketItemContainer:hover div.marketItem {
	opacity: 0.9;
	filter: alpha(opacity=90);
}
div.invadersMintPage div.scanMore div.marketItemTt {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 116px;
	height: 72px;
}
div.invadersMintPage div.scanMore div.marketItemContainer:hover div.marketItemTt {
	display: none;
}
div.invadersMintPage div.scanMore .marketItemPrice {
	position: absolute;
	left: 0px;
	bottom: 1px;
}
div.invadersMintPage div.scanMore .marketItemCount {
	display: none;
	position: absolute;
	right: 0px;
	bottom: 0px;
	min-width: 0px;
	min-height: 0px;
	height: 18px;
	line-height: 18px;
	margin: 0px;
}
div.invadersMintPage div.scanMore div.marketItemContainer:hover div.marketItemCount {
	display: inline-block;
}

/* Scroll Bars */
div.invadersMintPage div.scanMore div.moreOptionContainer::-webkit-scrollbar {
	width: 8px;
}
div.invadersMintPage.sm div.scanMore div.moreOptionContainer::-webkit-scrollbar {
	width: 3px;
}
div.invadersMintPage div.scanMore div.moreOptionContainer::-webkit-scrollbar-track {
	background: transparent
}
div.invadersMintPage div.scanMore div.moreOptionContainer::-webkit-scrollbar-thumb {
	background: #ffffff7a;
	border-radius: 4px;
}
div.invadersMintPage div.scanMore div.moreOptionContainer::-webkit-scrollbar-thumb:hover {
	background: #ffffffbd;
}

/* Mintable Invaders */
div.invadersMintPage div.mintableInvaders {
	width: calc(100% - 60px);
	max-width: 1300px;
	margin: 0 auto;
	font-size: 0px;
	margin-top: 20px;
}
div.invadersMintPage.sm div.mintableInvaders {
	width: calc(100% - 24px);
}
div.invadersMintPage div.mintableInvaders div.invaderPixelconsContainer {
	display: inline-block;
}
div.invadersMintPage div.mintableInvaders div.invaderPixelcon {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 10px;
}
div.invadersMintPage div.mintableInvaders div.invader {
	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 80px;
	height: 80px;
}
div.invadersMintPage div.mintableInvaders div.pixelcon {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 40px;
	height: 40px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

/* Tooltip */
div.invadersMintPage div.tooltip {
	position: absolute;
	top: 0px;
	left: 100%;
	width: 0px;
	height: 0px;
	background: #808080b5;
	z-index: 10;
	cursor: auto;
	opacity: 0.0;
	filter: alpha(opacity=0);
	overflow: hidden;
	transition: width cubic-bezier(0.35, 0, 0.25, 1) 0.07s, height cubic-bezier(0.35, 0, 0.25, 1) 0.07s, opacity cubic-bezier(0.35, 0, 0.25, 1) 0.07s;
}
div.invadersMintPage div.tooltip.left {
	left: -140px;
}
div.invadersMintPage div.tooltip.show {
	width: 140px;
	height: 72px;
	padding: 3px 0px;
	opacity: 1.0;
	filter: alpha(opacity=100);
}
div.invadersMintPage div.tooltip div.line {
	width: 140px;
	padding: 0px 5px;
	box-sizing: border-box;
}
div.invadersMintPage div.tooltip div.line div.color {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 12px;
	margin-top: -3px;
	margin-right: 1px;
	border: solid 1px #909090;
}
div.invadersMintPage div.tooltip div.line span.offset {
	margin-left: 5px;
}
div.invadersMintPage div.tooltip div.line div.percentage {
	display: inline-block;
    font-size: 9px;
	margin-left: 2px;
}
div.invadersMintPage div.tooltip div.line div.percentage.shared {
	height: 22px;
	margin-top: -10px;
	vertical-align: bottom;
}

/* Error */
div.invadersMintPage div.error {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -100px -153px;
	width: 276px;
	min-height: 42px;
	max-height: 100px;
	padding: 15px;
	background-color: #80808093;
}
div.invadersMintPage div.noMore {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -120px -190px;
	width: 350px;
	padding: 15px;
	background-color: #80808093;
}
div.invadersMintPage div.marketError {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -100px -153px;
	width: 276px;
	min-height: 42px;
	max-height: 100px;
	padding: 15px;
}
