<div class="invadersMintPage" ng-click="ctrl.scanOpen = false" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<!-- Loading -->
	<md-progress-circular ng-if="ctrl.accountAddressLoading" class="addressLoadingSpinner" md-diameter="80px" md-mode="indeterminate"></md-progress-circular>
	
	<!-- Scan -->
	<div class="scanMore" ng-if="!ctrl.accountAddressLoading" ng-click="$event.stopPropagation()" ng-class="{'expanded': ctrl.scanOpen}">
		<div class="scanTitleCard">
			<accounticon class="titleCardAccount" address="ctrl.accountAddress" border="0"></accounticon>
			<div class="titleCardText">
				<span class="textDark textLarge">{{ctrl.screenSize.sm ? 'Invaders to Uncover...' : 'Scanning for new Invaders to Uncover...'}}</span><br/>
				<span class="textDark textSmall">28 PixelCons</span>
			</div>
		</div>
			
		<md-button class="scanMoreButton filterButton textDark right" ng-click="ctrl.scanOpen = !ctrl.scanOpen" aria-label="Scan">
			<div class="buttonIcon scan"></div>
			<span>{{ctrl.screenSize.sm ? 'More' : 'Find More'}}</span>
		</md-button>
		
		<div class="scanMoreOptions">
			<div style="height:200px;"></div>
		
		</div>
		
		
		
		
	<!--
		<md-button class="scanMoreButton right" ng-click="" aria-label="Large View">
			<div class="buttonIcon large"></div>
		</md-button>
		<md-button class="scanMoreButton right" ng-click="" aria-label="Small View">
			<div class="buttonIcon small"></div>
		</md-button>
		<div class="scanMoreButtonDivider right"></div>
		<md-menu md-position-mode="target-right target">
			<md-button class="scanMoreButton right" ng-click="$mdOpenMenu()" aria-label="Share Account">
				<div class="buttonIcon share"></div>
			</md-button>
			<md-menu-content class="shareLinksContextMenu">
				<md-menu-item>
					<md-button ng-click="ctrl.copyLink()"><div class="shareLinkIcon url textBlack"></div>Copy URL</md-button>
				</md-menu-item>
				<md-menu-item>
					<a ng-href="{{ctrl.shareOnFacebook()}}" target="_blank" class="textBlack">
						<md-button><div class="shareLinkIcon facebook"></div>Share on Facebook</md-button>
					</a>
				</md-menu-item>
				<md-menu-item>
					<a ng-href="{{ctrl.shareOnTwitter()}}" target="_blank" class="textBlack">
						<md-button><div class="shareLinkIcon twitter"></div>Share on Twitter</md-button>
					</a>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-select ng-if="!ctrl.screenSize.sm" class="md-no-underline right" ng-model="ctrl.sortBy" ng-change="ctrl.onSortChange()" aria-label="Sort">
			<md-option value="createdDesc">Date Desc</md-option>
			<md-option value="createdAsc">Date Asc</md-option>
			<md-option value="levelDesc">Level Desc</md-option>
			<md-option value="levelAsc">Level Asc</md-option>
		</md-select>
		
		<div class="moreFilter">
			<md-select ng-if="ctrl.screenSize.sm" class="md-no-underline" ng-model="ctrl.sortBy" ng-change="ctrl.onSortChange()" aria-label="Sort">
			<md-option value="createdDesc">Date Desc</md-option>
			<md-option value="createdAsc">Date Asc</md-option>
			<md-option value="levelDesc">Level Desc</md-option>
			<md-option value="levelAsc">Level Asc</md-option>
			</md-select>
			<br/>
			<div class="levelSelect textDark textMedium">
				<span>Level</span>
				<input class="levelInput" type="number" step="any" name="levelMin" ng-model="ctrl.levelMin" ng-change="ctrl.onLevelChange()" min="0" max="30"/>
				<span>to</span>
				<input class="levelInput" type="number" step="any" name="levelMax" ng-model="ctrl.levelMax" ng-change="ctrl.onLevelChange()" min="0" max="30"/>
			</div>
			<br/>
			<div class="ownerSelect textDark textMedium">
				<span>Owner</span>
				<input class="ownerInput" maxlength="45" name="owner" ng-model="ctrl.owner" ng-change="ctrl.onOwnerChange()"/>
				<md-progress-circular ng-show="ctrl.checkingOwner" class="ownerLoading" md-diameter="16px" md-mode="indeterminate"></md-progress-circular>
				<accounticon ng-show="!ctrl.checkingOwner && ctrl.ownerAddress" class="ownerIcon" address="ctrl.ownerAddress" border="2"></accounticon>
				<div ng-show="!ctrl.checkingOwner && !ctrl.ownerAddress && ctrl.owner" class="ownerUnknown textDark textBold textMedium">??</div>
			</div>
			<br/>
			<md-checkbox class="colorCheckbox water textDark textMedium" ng-model="ctrl.typeWater" ng-change="ctrl.onTypeChange()">Water</md-checkbox>
			<md-checkbox class="colorCheckbox forest textDark textMedium" ng-model="ctrl.typeForest" ng-change="ctrl.onTypeChange()">Forest</md-checkbox>
			<md-checkbox class="colorCheckbox fire textDark textMedium" ng-model="ctrl.typeFire" ng-change="ctrl.onTypeChange()">Fire</md-checkbox>
			<md-checkbox class="colorCheckbox desert textDark textMedium" ng-model="ctrl.typeDesert" ng-change="ctrl.onTypeChange()">Desert</md-checkbox>
			<md-checkbox class="colorCheckbox electric textDark textMedium" ng-model="ctrl.typeElectric" ng-change="ctrl.onTypeChange()">Electric</md-checkbox>
			<md-checkbox class="colorCheckbox metal textDark textMedium" ng-model="ctrl.typeMetal" ng-change="ctrl.onTypeChange()">Metal</md-checkbox>
			<br/>
			<md-checkbox class="colorCheckbox defence textDark textMedium" ng-model="ctrl.attrDefence" ng-change="ctrl.onAttributeChange()">Defence</md-checkbox>
			<md-checkbox class="colorCheckbox attack textDark textMedium" ng-model="ctrl.attrAttack" ng-change="ctrl.onAttributeChange()">Attack</md-checkbox>
			<br/>
			<md-checkbox class="colorCheckbox longRange textDark textMedium" ng-model="ctrl.attrLongRange" ng-change="ctrl.onAttributeChange()">Long Range</md-checkbox>
			<md-checkbox class="colorCheckbox shortRange textDark textMedium" ng-model="ctrl.attrShortRange" ng-change="ctrl.onAttributeChange()">Short Range</md-checkbox>
		</div>
		-->
	</div>
	
	
	
	
	
	
	
	
	
	
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
