<div class="invadersMintPage" ng-click="ctrl.scanOpen = false" ng-class="ctrl.screenSize">
	<div class="topSpacer"></div>
	
	<!-- Loading -->
	<md-progress-circular ng-if="ctrl.accountAddressLoading" class="addressLoadingSpinner" md-diameter="80px" md-mode="indeterminate"></md-progress-circular>
	
	<!-- Error -->
	<div class="error textDark textSelectable" ng-if="ctrl.error" ng-bind-html="ctrl.error"></div>
	
	<!-- Scan -->
	<div class="scanMore" ng-if="!ctrl.accountAddressLoading && !ctrl.error" ng-click="$event.stopPropagation()" ng-class="{'expanded': ctrl.scanOpen}">
		<div class="scanTitleCard">
			<accounticon class="titleCardAccount" address="ctrl.accountAddress" border="2"></accounticon>
			<div class="titleCardText">
				<span class="textDark textLarge">{{ctrl.screenSize.sm ? 'Invaders to Uncover...' : 'New Invaders to Uncover...'}}</span><br/>
				<span class="textDark textSmall">{{ctrl.accountPixelcons.length + (ctrl.accountPixelcons.length == 1 ? ' PixelCon' : ' PixelCons')}}</span>
			</div>
		</div>
			
		<md-button class="scanMoreButton filterButton textDark right" ng-click="ctrl.loadMarketData();" aria-label="Scan">
			<div class="buttonIcon scan"></div>
			<span>{{ctrl.screenSize.sm ? 'More' : 'Find More'}}</span>
		</md-button>
		
		<div class="scanMoreOptions">
			<div class="moreOptionTitle textLarge textDark">For Sale on OpenSea<div class="openSeaIcon"></div></div>
			<div class="moreOptionContainer textCenter">
				<md-progress-circular ng-if="ctrl.marketLoading" class="moreLoadingSpinner" md-diameter="50px" md-mode="indeterminate"></md-progress-circular>
				
				<div class="marketItem" ng-repeat="item in ctrl.marketData track by $index">
				
				
				</div>
				
				
			
			</div>
		</div>
	</div>
	
	<!-- Mintable Invaders -->
	<div class="mintableInvaders" ng-if="!ctrl.accountAddressLoading && !ctrl.error">
		<span class="textMedium textDark">The first 1500 PixelCons can uncover new invaders. Each PixelCon has a random set of invaders to mint from.</span>
		<br/><br/><br/>
		<div class="invaderPixelcon" ng-repeat="invaderPixelcon in ctrl.accountInvaderPixelcons track by $index">
			<div class="pixelcon crispImage" ng-class="invaderPixelcon.pixelcon.panelClass" ng-style="{'background-position':invaderPixelcon.pixelcon.panelOffset}"></div>
			<div class="invader crispImage" ng-class="invaderPixelcon.panelClass" ng-style="{'background-position':invaderPixelcon.panelOffset}"></div>
		</div>
	
		<!-- No PixelCons Error -->
	
	</div>
	
	
	
	
	
	
	
	
	<div class="bottomSpacer"></div>
	<div class="bottomSpacer"></div>
	<div class="bottomSpacer"></div>
	<div class="footerSpacer"></div>
</div>
