<div class="footer colorLight" ng-class="ctrl.screenSize">

	<!-- Links -->
	<div layout="row" class="mainContainer">
		<div layout="column" class="linkContainer leftPadding">
			<a class="plain light link textDark" href="/explore">Explore</a>
			<a class="plain light link textDark" href="/mint">Uncover</a>
			<a class="plain light link textDark" ng-class="{disabled:!ctrl.accountAddress}" ng-href="{{ctrl.accountAddress?('/explore?owner='+ctrl.accountAddress):''}}">Account</a>
		</div>
		<div layout="column" class="linkContainer">
			<a class="plain light link textDark" href="/">About</a>
			<a class="plain light link textDark" href="/start">Get Started</a>
			<a class="plain light link textDark" href="/terms">Terms of Use</a>
		</div>
		<div layout="column" class="socialContainer rightPadding">
			<a class="plain light socialLink github" href="https://github.com/PixelCons"></a>
			<a class="plain light socialLink twitter" href="https://twitter.com/PixelConsToken"></a>
			<!--<a class="plain light socialLink opensea" href="https://opensea.io/category/pixelcons"></a>-->
			<a class="plain light socialLink discord" href="https://discord.gg/E2WQa8sTk3"></a>
			<md-button class="tipButton md-raised md-primary" ng-click="ctrl.tip($event)" aria-label="Tip">Tip</md-button>
			<md-button class="settingsButton md-raised dim" ng-click="ctrl.openSettings($event)" aria-label="Settings"><div class="settingsButtonIcon"></div></md-button>
		</div>
		<div class="copyright textSmall textLight">© 2022 PixelCon Invaders</div>
	</div>
	
</div>
